.hero_about {
    background-color: var(--gray);
    height: 300px;
    margin-top: 200px;
    padding: 0 10%;
    
    .left {
        flex: 1;
        
        h2 {
            color: black;
            margin: 0;
            margin-bottom: 20px;
            border-top: 3px solid var(--main2);
            width: 110px;
            padding-top: 10px;
            font-size: 30px;


        }

        span {
            display: block;
            margin-bottom: 10px;

        }
        
    }

    .line {
        width: 3px;
        height: 70%;
        background-color: var(--main2);
        margin: 0 60px;
    }

    .right {
        flex: 1;

        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            box-shadow: var(--box-shadow);
        }
    }
}